<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="h2config" class="com.example.demo.config.H2Config">
    <constructor-arg index="0" value="jdbc:h2:file:./DB"/>
    <constructor-arg index="1" value="sa"/>
    <constructor-arg index="2" value="sa"/>

<!-- внедрение без конструктора
    <property name="url" value="jdbc:h2:file:./DB"/>-->
<!--    <property name="username" value="sa"/>-->
<!--    <property name="password" value="sa"/>-->
</bean>
</beans>